body {
    background-color: rgb(225, 225, 153);
}

.title {
    text-align: center;
    color: rgb(0, 0, 255);
    font-size: 32px;
    font-family: Arial, Helvetica, sans-serif;
}

.box {
    background-color: #FFFFFF;
    border-radius: 25px;
    border: 1px solid black;
    padding: 48px;
    display: inline-block;
}

.box.first {
    margin-right: 72px;
}

.box.third {
    margin-left: 72px;
}

#home-page {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

.caption {
    display: inline-block;
    margin-top: 16px;
    font-size: 24px;
    font-weight: 300;
}

.border {
    border-top: 1px solid grey;
}

.image {
    display: block;
    text-align: center;
}